.goal-categories {
    .goal-header {
        display: flex;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        div {
            white-space: nowrap;
            text-align: right;
        }
        .goal-select {
            position: relative;
            min-width: 130px;
        }
        .options {
            .option {
                white-space: nowrap;
                padding: 5px 15px;
                color: #fff;
            }
            background-color: #58585a;
            border-radius: 3px;
            min-width: 130px;
        }
        
        .goal-title {
            width: 100%;
        }
    }
}

